<footer id="footer" class="row justify-content-center fixed-bottom">
    <div class="col-xl-12" style="text-align: center">
        <p class="text-white">
            <small>About [ <a title="About this site" href="https://www.nisatv.network/about" class="text-white">nisatv.network</a> | <a title="hammeley.info" href="https://hammeley.info" class="text-white" target="_blank">Me</a> ] | <a title="Terms and Conditions" href="https://www.nisatv.network/LICENSE" class="text-white" target="_blank">View License</a></small>
        </p>
    </div>
</footer>