<header id="header">
      <div class="row bg-secondary no-gutters">
            <div class="col-12">
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="navbar-brand pr-3" href="#">
                              <span class="nav-link dropdown-toggle d-inline-block align-top" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >NISATV.NETWORK</span>
                              <!-- NISATV.NETWORK -->
                              <div class="dropdown-menu bg-secondary col" aria-labelledby="navbarDropdown">
                                    {{#if context}} 
                                    <a title="Overview" class="dropdown-item" href="/{{context}}/overview">Overview</a>
                                    <a class="dropdown-item" href="/{{context}}/matches">Matches</a>
                                    <a title="Players" class="dropdown-item" href="/{{context}}/players">Players</a>
                                    {{else}}
                                    {{!-- <a class="dropdown-item" href="/">Home</a> --}}
                                    <a title="Schedule" class="dropdown-item" href="/all/matches">All Matches</a>
                                    {{/if}}
                              </div>
                        </div>              
                                    
                        <ul class="navbar-nav scroll" style="text-align: center">
                              {{#if main_menu}}
                              {{#each main_menu.icon_links}}
                              <li class="nav-item">
                                    <a title="{{title}}" id="{{a_short}}-icon_link" class="nav-link" href="{{href}}/overview" style="background-image:url('/assets/logo_{{a_short}}.png')"></a>
                              </li> 
                              {{/each}}
                              {{else}}
                              <li class="nav-item">
                                    <a title="nisatv.network" id="nisa-icon_link" class="nav-link" href="/" style="background-image:url('/assets/logo_nisa.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="1904 San Diego FC" id="sdfc-icon_link" class="nav-link" href="/1904-san-diego-fc/overview" style="background-image:url('/assets/logo_sdfc.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Atlanta SC" id="atl-icon_link" class="nav-link" href="/atlanta-sc/overview" style="background-image:url('/assets/logo_atl.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="California United Strikers" id="cus-icon_link" class="nav-link" href="/california-united-strikers/overview" style="background-image:url('/assets/logo_cus.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Chattanooga FC" id="cfc-icon_link" class="nav-link" href="/chattanooga-fc/overview" style="background-image:url('/assets/logo_cfc.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Detroit City FC" id="dcfc-icon_link" class="nav-link" href="/detroit-city-fc/overview" style="background-image:url('/assets/logo_dcfc.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Los Angeles Force" id="laf-icon_link" class="nav-link" href="/los-angeles-force/overview" style="background-image:url('/assets/logo_laf.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Miami FC" id="mia-icon_link" class="nav-link" href="/miami-fc/overview" style="background-image:url('/assets/logo_mia.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="New York Cosmos" id="nycc-icon_link" class="nav-link" href="/new-york-cosmos/overview" style="background-image:url('/assets/logo_nycc.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Michigan Stars" id="mich-icon_link" class="nav-link" href="/michigan-stars/overview" style="background-image:url('/assets/logo_mich.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Orlando Roots SC" id="orsc-icon_link" class="nav-link" href="/oakland-roots-sc/overview" style="background-image:url('/assets/logo_orsc.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Philadelphia Fury" id="pf-icon_link" class="nav-link" href="/philadelphia-fury/overview" style="background-image:url('/assets/logo_pf.png')"></a>
                              </li>
                              <li class="nav-item">
                                    <a title="Stumptown Athletic" id="sa-icon_link" class="nav-link" href="/stumptown-athletic/overview" style="background-image:url('/assets/logo_sa.png')"></a>
                              </li>
                              {{/if}}
                        </ul>
                  </nav>
            </div>
      </div>
</header>