<section id="nisa_player">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <div class="col-xl-12" style="text-align: left;">
                <div class="row">
                    <div id="screen" class="col-xl-12">
                    {{#if m.broadcasts}}
                        <iframe id="video" src="{{m.broadcasts.0.video_link}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    {{else}}
                        <div class="alert alert-info text-light">Sorry, no broadcasts available at the moment.</div>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
