<section id="#notification"> 
    <div class="alert alert-info">
        Due to COVID-19, the remainder of the 2020 Spring Season has been cancelled. See also: <a class="alert-info" href="https://nisasoccer.com/news/2020/04/27/nisa-official-update" target="_blank">https://nisasoccer.com/news/2020/04/27/nisa-official-update</a>
        <br>
        The schedule for the upcoming and confirmed Fall Season will be updated when available.
    </div>
</section>