<div class="row justify-content-center no-gutters">
    <div class="col-8">
        <div class="row">
            <div class="col-2">
                <img src="/assets/logo_{{club.short}}.png" />
            </div>
            <div class="col-10">
                <h1>{{club.trivial_name}}</h1>
                {{#if club.website}}
                | <a title="Website of {{club.trivial_name}}" class="text-white" href="{{club.website}}" target="_blank">Website&nbsp;</a> |
                {{/if}}
                {{#if club.social.facebook}}
                <a title="Facebook page of {{club.trivial_name}}" class="text-white" href="{{club.social.facebook}}" target="_blank">Facebook&nbsp;</a> |
                {{/if}}
                {{#if club.social.instagram}}
                <a title="Instagram of {{club.trivial_name}}" class="text-white" href="{{club.social.instagram}}" target="_blank">Instagram&nbsp;</a> |
                {{/if}}
                {{#if club.social.twitter}}
                <a title="Twitter Feed of {{club.trivial_name}}" class="text-white" href="{{club.social.twitter}}" target="_blank">Twitter&nbsp;</a> |
                {{/if}}
            </div>
        </div>
    </div>
</div>