    <meta charset="utf-8">
    <meta name="author" content="Daniel Hammeley">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="/assets/logo_nisa.png" />
    <link rel="stylesheet" href="/styles/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="/styles/nav.css">
   
    {{#each scripts}}
    <script>{{{this}}}</script>{{/each}}
    <script data-main="/scripts/app" src="/scripts/require-2.3.6.js"></script>