 <div id="club_new" class="club form-group" name="club_nisa">
	<div class="row">
		<div class="col-lg-2">
			<div class="image-upload">
  				<label for="file-input">
    				<img class="img-thumbnail" src="/assets/club_logo_nisa.png" style="width: 95px; height: 75px"/>
  				</label>
				<input class="club_logo_input" id="img-file-input_new" type="file" />
			</div>
		</div>
		<div class="col-lg-8">
			<fieldset>
				<input id="full_name" name="" class="full_name text" type="textfield" value="" placeholder="Full Name"></input>
				<input id="trivial_name" name="" class="trivial_name text" type="textfield" value="" placeholder="Trivial Name"></input>
				<input id="short" name="" class="short text" type="textfield" value="" placeholder="Short"></input>
			</fieldset>
    	</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
    	    <fieldset class="colors">
				<label for="colors"><h5 class="text-light">Colors</h5></label><br/>
    	    	<input id="color_primary" name="" class="color_primary text" type="textfield" size="8" maxlength="8" value="" placeholder="Primary Color"></input>
    	        <input id="color_secondary" name="" class="color_secondary text" type="textfield" size="8" maxlength="8" value="" placeholder="Secondary Color"></input>
        		<input id="color_tertiary" name="" class="color_tertiary text" type="textfield" size="8" maxlength="8" value="" placeholder="Tertiary Color"></input>
			</fieldset>
    	</div>
    </div>
</div>
