<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About | nisatv.network (Inofficial) Free NISA Video Player</title>
    {{> partials/scripts}}
 
    <link rel="stylesheet" href="styles/common.css"> 
    <link rel="stylesheet" href="styles/nav.css">

    <script type="text/javascript">
        $(document).ready(function() {
            $("#nisa-icon_link").hover(
                function() {
                    $("#header").css("background-color", "blue");
                    $(this).css("background-image", "url('https://www.nisatv.network/assets/European_stars_85px.svg.png')");
                },
                function() {
                    $("#header").css("background-color", "#343a40");
                    $(this).css("background-image", "url('https://www.nisatv.network/assets/aspera-non-spernit_96px.png')");
                }
            );
        });
    </script>
</head>
<body class="bg-dark">
     <div id="wrap" class="container-fluid ">
        <header id="header" class="row justify-content-center">
            <div class="col-12">
                <nav>
                    <ul class="navbar-nav scroll" style="text-align: center">
                        <li class="nav-item">
                            <a title="Back to the NISATV.NETWORK Player" id="nisa-icon_link" class="nav-link" href="https://www.nisatv.network" style="background-image:url('https://www.nisatv.network/assets/aspera-non-spernit_96px.png')"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
       
        <article class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <section class="row justify-content-left" style="margin: 1em">
                    <div class="col-lg-12 justify-content-left">
                        <h3 class="text-white" style="text-align: center">NISATV.network</h3>
                        <p class="text-white" style="text-align: left">
                            NISATV.NETWORK is a hobby Project by Daniel Hammeley.
                            <br /> <br /> 
                            The Code for this frontend App is open source, MIT licensed and available for download at:
                            <br /><br />
                            <a href="https://gitlab.com/aspera-non-spernit/nisatv-webapp" class="text-white" target="_blank">gitlab.com/aspera-non-spernit/nisatv-webapp</a>
                            <br /><br />
                            I am not affiliated with NISA, its Owners, Management, Employees or Members of the Association.<br />
                            I don't work for any of the Groups just mentioned, neither full-time, part-time, freelance or for a Contractor. I do not receive financial Contributions of any kind for setting up this Project, neither officially nor unofficially.
                            I do not work in Marketing, Public Relations or in similar Functions and was not asked to setup this Site by such Groups.
                            <br /><br />
                            With this Project I am aiming to facilitate the Ease of Access to watching Soccer Games in the NISA League and to provide a better, and free Experience than it is currently available.<br />
                            I am contributing to NISA's vision in this way, as a Fan, out of Free Will, because I believe in what NISA is trying to achieve (as of Septmeber 2019).
                            <br /><br />
                            Further more, this is a Software Development Project. The software consisting of a frontend application, a REST-API application and the NISA data set, can be downloaded<br />
                            edited and used for any other sports-related league, cup or group. 
                            <br /><br />
                            Due to the Nature of freetime Projects, you may experience more Bugs, outdated or false Information on this Site than you would expect from a professional Website. This Site may be, at Times broken or unavailable. It may not work for all Browsers the same way.<br />
                            <br /><br />
                            Do not use this website and / or the REST-API if you need access to correct Information related to the NISA Soccer league at all Times. Please cross-check and visit the official Websites of <a href="https://nisaofficial.com" class="text-white">nisaofficial.com</a> or<br />
                            The websites of the respective Clubs and Support Groups.
                        </p>
                        <h3 class="text-white" style="text-align: center">Contact</h3>
                        <p style="text-align: left" class="text-white">
                            For Questions, Suggestions and Bug Reports, please contact Me by<br />
                            <br />
                            <b>eMail: </b><a href="mailto:contact@nisatv.network" class="text-white">contact@nisatv.network</a>
                        </p>
                        <h3 class="text-white">Contribution</h3>
                        <p class="text-white" style="text-align: left">
                            Thank you for your interest in this Project. If you like what you see and if you wonder how you can contribute to this project, you can contribute in various ways:
                            <br /><br />
                            <b>Promotion</b><br />
                            If you like this project, the easiest way to contribute is to share the link and your experience with nisatv.network
                            on your website, social media or as an article in a NISA or soccer related on- and offline magazine or blog.
                            <br /><br />
                            If you want to watch NISA matches in your favourite Sports Bar, ask the bar tender if he could turn on this site and play a match on the internet-connected TV.
                            <br /><br />
                            <b>Software Development</b><br />
                            If you are a Frontend or Middleware-Developer and you have some freetime, feel free to contribute and send pull requests to <a href="https://gitlab.com/aspera-non-spernit/nisatv-webapp" target="_blank" class="text-white">gitlab.com/aspera-non-spernit/nisatv-webapp</a></br />
                            and <a href="https://gitlab.com/aspera-non-spernit/nisatv-rest" target="_blank" class="text-white">gitlab.com/aspera-non-spernit/nisatv-rest</a>.
                            <br /><br />
                            <b>Reporting</b><br />
                            If you are experiencing errors or if you have suggestion on how to improve this NISA player, please <a href="mailto:contact@nisatv.network" class="text-white">email me</a> and let me know.
                            <br /><br />
                            <b>Donating, Financial Contributions, Advertisements or Merchandising</b><br />
                            The Development and Maintenance of this Site consumes Time and Money, even on a low Level.<br />
                            Providing more sophisticated Features may require Server Technology that the current Technical Environment cannot provide.
                            <br /><br />
                            If you are thinking of donating, gifting Merch or placing an Advertisement for the purpose of supporting the Maintenance of this Project and its further Development or as a way of honoring my Work, please <a href="mailto:contact@nisatv.network" class="text-white">email me</a> for a first contact.<br />
                            <br /><br />
                        </p>
                        <h3 class="text-white">License</h3>
                        <p class="text-white" style="text-align: left">MIT License</p>
                        <p class="text-white" style="text-align: left">Copyright (c) 2019 Daniel Hammeley</p>
                        <p class="text-white" style="text-align: left">
                            Permission is hereby granted, free of charge, to any person obtaining a copy<br />
                            of this software and associated documentation files (the "Software"), to deal<br />
                            in the Software without restriction, including without limitation the rights<br />
                            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
                            copies of the Software, and to permit persons to whom the Software is<br />
                            furnished to do so, subject to the following conditions:<br />
                        </p>          
                        <p class="text-white" style="text-align: left">The above copyright notice and this permission notice shall be included in all<br />
                            copies or substantial portions of the Software.
                        </p>
                        <p class="text-white" style="text-align: left">
                            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
                            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br />
                            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br />
                            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br />
                            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br />
                            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br />
                            SOFTWARE.
                            <br /> <br />
                        </p>
                    </div>
                </section>
            </div>
        </article>
        
        <footer id="footer" class="row justify-content-center fixed-bottom bg-dark" style="border-top: 1px solid #777">
            <div class="col-lg-12 bottom-fixed" style="text-align: center">
                <p class="text-white">
                    <small>This app is open source and available on <a href="https://gitlab.com/aspera-non-spernit/nisatv-webapp" class="text-white" target="_blank">gitlab.com</a> | <a href="https://nisatv.network/LICENSE" class="text-white" target="_blank">View License</a></small>
                </p>
            </div>
        </footer>
    </div>
        <script>
    $(document).ready(function() {
        $.get
    });
    </script>
</body>
</html>
