<!doctype html>
<html lang="en">
    <head>
        <title>{{club.trivial_name}} : Overview | NISATV.NETWORK</title>
        <meta name="description" content="Watch {{club.trivial_name}} on NISATV.NETWORK. The free soccer streaming player for the National Independent Soccer Association">
        <meta name="keywords" content="{{club.trivial_name}}, {{club.short}}, NISA, soccer, tv, network, stream">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/logo_{{club.short}}.png">
        {{> partials/scripts}}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "SportsTeam",
                "sport": "Soccer",
                "name": "{{club.full_name}}",
                "alternateName": "{{club.trivial_name}}",
                "url": "{{club.website}}",
                "logo": "https://www.nisatv.network/assets/logo_{{club.short}}.png",
                "same_as": ["{{club.social.facebook}}","{{club.social.instagram}}", "{{club.social.twitter}}"]
            }
        </script>
    </head>

    <body class="bg-dark">
        {{> partials/main_nav}}
        <article id="article" class="container">
            <div class="row justify-content-center"> 
                <div class="col-lg-10">  <!-- col max wrap -->
                    <!-- page header -->
                    <div class="row mb-4">
                        <div class="col-2">
                            <img src="/assets/logo_{{club.short}}.png" />
                        </div>
                        <div class="col-10">
                            <h1>Overview</h1>
                            {{#if club.website}}
                            | <a class="text-white" href="{{club.website}}" target="_blank">Website&nbsp;</a> |
                            {{/if}}
                            {{#if club.social.facebook}}
                            <a class="text-white" href="{{club.social.facebook}}" target="_blank">Facebook&nbsp;</a> |
                            {{/if}}
                            {{#if club.social.instagram}}
                            <a class="text-white" href="{{club.social.instagram}}" target="_blank">Instagram&nbsp;</a> |
                            {{/if}}
                            {{#if club.social.twitter}}
                            <a class="text-white" href="{{club.social.twitter}}" target="_blank">Twitter&nbsp;</a> |
                            {{/if}}
                        </div>
                    </div> <!-- end page header -->
                </div>
            </div>
        </article>
        {{> partials/footer}}
    </body>
</html>