<!doctype html>
<html lang="en">
    <head>
        <title>{{club.trivial_name}} : Players | NISATV.NETWORK</title>
        <meta name="description" content="All active and inactive players of {{club.trivial_name}}. NISATV.NETWORK - The free soccer streaming player for the National Independent Soccer Association.">
        <meta name="keywords" content="city, fc, detroit, network, players, nisatv, keyworth, midfielders, roster, defenders, forwards, goalkeepers">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/logo_{{club.short}}.png">
        {{> partials/scripts}}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "SportsTeam",
                "sport": "Soccer",
                "name": "{{club.full_name}}",
                "alternateName": "{{club.trivial_name}}",
                "url": "{{club.website}}",
                "logo": "https://www.nisatv.network/assets/logo_{{club.short}}.png",
            }
        </script>
    </head>

    <body class="bg-dark">
        {{> partials/main_nav}}
        <article id="article" class="container">
            <div class="row justify-content-center"> 
                <div class="col-lg-10">  <!-- col max wrap -->
                    <!-- page header -->
                    <div class="row">
                        <div class="col-2">
                            <img src="/assets/logo_{{club.short}}.png" alt="Logo of {{club.trivial_name}}" />
                        </div>
                        <div class="col-10">
                            <h1><span class="col-lg-6"></span>Players of</span><span class="col-lg-6">Detroit City FC</h1></span>
                        </div>
                    </div> <!-- end page header -->
                    {{#if players}} 
                    <div class="row mt-4">
                        <div class="col-12">
                            <nav id="filter">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Show">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="show-btns">Show</span>
                                            </div>
                                            <a title="All players of {{club.trivial_name}}"class="btn btn-secondary" href="/{{context}}/players" role="button">All</a>
                                            <a title="Goalkeepers of {{club.trivial_name}}" class="btn btn-secondary" href="/{{context}}/players/goalkeepers" role="button">Goalkeepers</a>
                                            <a title="Defenders of {{club.trivial_name}}"class="btn btn-secondary" href="/{{context}}/players/defenders" role="button">Defenders</a>
                                            <a title="Midfielders of {{club.trivial_name}}"class="btn btn-secondary" href="/{{context}}/players/midfielders" role="button">Midfielders</a>
                                            <a title="Forwards of {{club.trivial_name}}"class="btn btn-secondary" href="/{{context}}/players/forwards" role="button">Forwards</a>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    {{/if}} <!-- end sorting nav -->
                    <!-- players listing -->
                    {{#if players}}
                    <div class="row mt-4 ml-3 justify-content-center no-gutters">
                        <div class="col-md-12">
                            <ul class="list-unstyled">
                                {{#each players}}
                                <li class="row mb-4">
                                    <div style="width: 13em">
                                        <img style="width: 13em" src="{{thumbnail}}" alt="{{name}}" title="{{name}}">
                                    </div>
                                    <div class="col-sm text-white">
                                        <h2 title="{{name}}">{{name}}</h2>
                                        <span style="font-size: 1.5em; font-weight: bold">{{squad_number}}</span>&nbsp;<span style="font-size: 1.5em">{{position}}</span><br />
                                        <p class="text-white">{{bio.en}}</p>
                                    </div>               
                                </li>
                                {{/each}}
                            </ul> 
                        </div>
                    </div> <!-- end players listing -->
                    {{/if}}
                </div>  <!--end col max wrap -->
            </div> <!-- end article row -->
        </article>  
        {{> partials/footer}}
    </body>
</html>