<!doctype html>
<html lang="en">
    <head>
        <title>Watch Soccer | NISATV.NETWORK</title>
        <meta name="description" content="Watch all matches of the National Independent Soccer Association (NISA) live and for free.">
        <meta name="keywords" content="nisa, soccer, live, stream, tv">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/logo_nisa.png">
        {{> partials/scripts}}
    </head>
    <body id="body" class="bg-dark">
        {{> partials/main_nav}}
        <aside class="row justify-content-center no-gutters">
            <div class="col-8 mt-4">
            {{> partials/notification}}
            </div>
        </aside>
        <article id="article">
            <div class="row justify-content-center no-gutters">
                <div class="col-8">
                    <h1 class="text-white">
                        Watch Soccer, live and for free on nisatv.network<br />
                        <br />
                        Have fun... :)
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center no-gutters">
                <div class="col-8">
                    <p class="text-white">
                    NISATV.NETWORK aims to make the search for NISA Clubs and their matches easy to find <br />
                    and watch.<br />
                    <br />
                    Quickly check your favourite team's schedule, roster, social links. Watch all previous<br />
                    matches and find upcoming matches in a simple to use website.<br />
                    <br />
                    NISATV.NETWORK does not collect and store any information about your visit.<br />
                    </p>
                </div>
            </div>
           
        </article>
        {{> partials/footer}}
    </body>
</html>