<!doctype html>
<html lang="en">
    <head>
        <title>{{requested.full_name}} : Schedule | NISATV.NETWORK</title>
        <meta name="description" content="Watch {{requested.trivial_name}} on NISATV.NETWORK. The free NISA Soccer Video Stream Player">
        <meta name="keywords" content="{{requested.trivial_name}}, schedule, soccer, nisa, tv, network, stream">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/logo_{{requested.short}}.png">
        {{> partials/scripts}}
        {{#if context}}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "itemListElement": "https://schema.org/BroadcastEvent",
            "itemListOrder": "https://schema.org/ItemListOrderUnordered",
            "description": "List of Broadcasts for {{requested.trivial_name}}",
            "name": "{{requested.trivial_name}} Broadcasts",
            "alternateName": "Broadcast List : {{requested.trivial_name}}",
            "url": "https://www.nisatv.network/{{context}}/overview",
            "image": "https://www.nisatv.network/assets/logo_{{requested.short}}.png"
        }
        </script>
        {{/if}}
    </head>

    <body class="bg-dark">
        <!-- main nav -->
        {{> partials/main_nav}}
        <article id="article" class="container">
            <div class="row justify-content-center"> 
                <div class="col-lg-10">  <!-- col max wrap -->
                    <!-- page header -->
                    <div class="row">
                        <div class="col-2">
                            <img src="/assets/logo_{{requested.short}}.png" />
                        </div>
                        <div class="col-10">
                            <h1>Schedule</h1>
                        </div>
                    </div> <!-- end page header -->
                    <!-- sorting nav -->
                    {{#if matches}} 
                    <div class="row mt-4">
                        <div class="col-12">
                            <nav id="filter">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="btn-group" role="group" aria-label="Show">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="show-btns">Show</span>
                                            </div>
                                            {{#if context}}
                                            <a class="btn btn-secondary" href="/{{context}}/matches" role="button">All</a>
                                            <a class="btn btn-secondary" href="/{{context}}/matches/previous" role="button">Previous</a>
                                            <a class="btn btn-secondary" href="/{{context}}/matches/upcoming" role="button">Upcoming</a>
                                            {{else}}
                                            <a class="btn btn-secondary" href="/all/matches" role="button">All</a>
                                            <a class="btn btn-secondary" href="/all/matches/previous" role="button">Previous</a>
                                            <a class="btn btn-secondary" href="/all/matches/upcoming" role="button">Upcoming</a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="btn-group" role="group" aria-label="Sort">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="sort-btns">Sort</span>
                                            </div>
                                            {{#if context}}
                                            <a class="btn btn-secondary" href="/{{context}}/matches" role="button">Latest first</a>
                                            <a class="btn btn-secondary" href="/{{context}}/matches/previous" role="button">Earliest first</a>
                                            {{else}}
                                            <a class="btn btn-secondary" href="/all/matches" role="button">Latest first</a>
                                            <a class="btn btn-secondary" href="/all/matches/previous" role="button">Earliest first</a>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    {{/if}} <!-- end sorting nav -->
                    <!-- schedule listing --> 
                    {{#if matches}}
                    <div class="row mt-4">
                        <div class="col-12">
                            <ul class="list-unstyled ml-4">
                                {{#each matches}}
                                <li class="row mb-4" id="match-{{@index}}"> <!-- left-->
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="/assets/logo_{{home_short}}.png" />
                                                {{#if result}}
                                                <strong class="text-white">{{result.0}} : {{result.1}}</strong>
                                                {{else}}
                                                <strong class="text-white">? : ?</strong>
                                                {{/if}}
                                                <img src="/assets/logo_{{away_short}}.png" />
                                            </div>
                                        </div>
                                    </div><!-- right-->
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <strong class="text-white" id="date">{{date}}</strong>
                                            </div>
                                        </div>
                                        {{#if info}}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-white m-0 p-0">{{info.description}}</p>
                                            </div>
                                        </div>
                                        {{/if}}
                                        
                                        <div class="row">
                                            <div class="col-lg-12">                 
                                                {{#if broadcasts}}
                                                <strong class="text-white">Commentators:</strong> <span class="text-white">{{broadcasts.0.commentators}}</span> <br />
                                                <a href="/watch/{{home_short}}?vs={{away_short}}&date={{date}}">WATCH</a>
                                                {{else}}
                                                <strong class="text-white">Currently no broadcasts available.</strong>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </li>  
                                {{/each}}
                                {{else}}
                                <div class="alert alert-info show fade">
                                    Currently no matches listed for  <strong>{{requested.trivial_name}}</strong>
                                </div>
                            </ul>
                        </div>
                    </div>
                    {{/if}} <!-- end schedule listing -->  
                </div> <!-- end 8-col max wrap -->
            </div> <!-- end article row -->
        </article>
        {{> partials/footer}}
    </body>
</html>