<!doctype html>
<html lang="en">
    <head>
        <title>{{home.trivial_name}} vs {{away.trivial_name}} | NISATV.NETWORK</title>
        <meta name="description" content="Watch {{home.full_name}} {{m.result.0}} : {{m.result.1}} {{away.full_name}} on {{m.date}}.">
        <meta name="keywords" content="{{home.full_name}}, {{away.full_name}}, stream, live, nisa, soccer">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/logo_nisa.png">    
        {{> partials/scripts}}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BroadcastEvent",
            "description": "{{home.trivial_name}} vs {{away.trivial_name}} | NISA Soccer Match",
            "isLiveBroadcast": "true",
            "inLanguage": "en",
            "videoFormat": "HD",
            "broadcastOfEvent": {
                "@type": "https://schema.org/SportsEvent",
                "awayTeam": "{{away.trivial_name}}",
                "homeTeam": "{{home.trivial_name}}",
                "name": "{{home.trivial_name}} vs {{away.trivial_name}}",
                "startTime": "{{m.date}}",
                "duration:": "90",
                "publishedOn": {
                    "@type": "https://schema.org/BroadcastService",
                    "name": "MyCujoo",
                    "url": "https://mycujoo.tv"
                }
            }
        }
        </script>
    </head>

    <body class="bg-dark">
        {{> partials/header}}
         {{#if m.info}}
        <section id="#notification">  
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                     <div class="alert alert-info">
                    This match has been postponed due to COVID-19. <br>
                    The broadcast won't be airing on {{m.date}}
                    </div>
                </div>
            </div>
           
        </section>
        {{/if}}
        <article id="article" class="row justify-content-center">
        {{> partials/nisa_player}}
        </article>
        {{> partials/footer}}
        <section id="controls"></section>
    </body>
</html>