@media screen and (max-width: 576px) {
  .scroll {
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }
  .scroll::-webkit-scrollbar {
    background: transparent;
  }
}

header {
  width: 100%;
  border-bottom: 0.1em solid #777;
  margin-bottom: 1em;
}

.navbar-nav {
  float: none;
  display: block;
  height: 49px;
}

.navbar-nav > li.nav-item {
  display: inline-block;
  float: none;
  list-style: none;
}

a.nav-link {
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-nav > li.nav-item a {
  display: inline-block; 
  width: 48px;
  height: 48px;
}
.navbar-brand {
  border-right: 0.1em solid #777;
}

.nav-item, .nav-link {
  padding: 0;
}

.slicer {
  border-right: 1px solid #666;
}

.active {
  border-right: 1em solid white;
}
